<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <ul th:fragment="topbar" class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" th:href="@{/admin_main}" th:classappend="${adminMain != null && adminMain} ? active : '' ">
        <span th:text="#{admin_sidebar_dashboard}">Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/admin_events}" th:classappend="${adminEvents != null && adminEvents} ? active : '' ">
        <span th:text="#{admin_sidebar_events}">Events</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" th:href="@{/admin_banner}" th:classappend="${adminBanner != null && adminBanner} ? active : '' ">
        <span th:text="#{admin_sidebar_banner_integration}">Banner integration</span>
      </a>
    </li>
  </ul>
</body>
