<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:text="#{admin_events_title}">Events</title>
    <div th:insert="fragments/head :: head"></div>
  </head>
  <body>
    <div class="admin-container">
      <!-- Topbar -->
      <div th:insert="fragments/topbar :: topbar (admin_grades_students)"></div>
      <!-- End of Topbar -->

      <h2 class="canvas-h2" th:text="#{admin_sidebar_grades}">Grades of Courses</h2>

      <form th:action="@{/admin_grades_students}" method="post">
          <div class="form-group">
              <label for="selectedCourse" th:text="#{admin_banner_select_course_student}">Select the course to see its students:</label>
              <select id="selectedCourse" name="selectedCourse" class="form-control" onchange="this.form.submit();">
                  <option></option>
                  <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}" th:selected="${course.id.equals(selectedIntegerCourse)}"></option>
              </select>
          </div>
          <div class="form-group" th:if="${userList != null}">
              <label for="selectedStudent" th:text="#{admin_banner_select_student}">Select a student to see his grades:</label>
              <select id="selectedStudent" name="selectedStudent" class="form-control" onchange="this.form.submit();">
                  <option></option>
                  <option th:each="user : ${userList}" th:value="${user.id}" th:text="${user.sortableName}" th:selected="${user.id.equals(selectedIntegerStudent)}"></option>
              </select>
          </div>
      </form>

      <div class="alert alert-info" th:if="${assignmentList != null && assignmentList.isEmpty()}" th:text="#{shared_no_assignments}">
      </div>
      <table id="assignmentTable" class="table table-hover" th:if="${assignmentList != null && !assignmentList.isEmpty()}">
        <thead>
        <tr>
          <th th:text="#{student_header_assignment}">Assignment</th>
          <th th:text="#{student_header_grade}">Grade</th>
          <th>CATEGORY</th>
          <th class="d-none"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="assignment : ${assignmentList}">
          <td th:text="${assignment.name}">an assignment name</td>
          <td>
            <span th:if="${assignment.omitFromFinalGrade}" class="fas fa-exclamation-circle" th:title="#{instructor_header_omit_final_grade}"></span>
            <span th:if="${assignment.muted == 'true'}" class="fas fa-bell-slash" th:title="#{instructor_header_muted_assignment}"></span>
            <span th:unless="${assignment.muted == 'true' && assignment.omitFromFinalGrade}" th:text="${gradeMap.get(assignment.id)}"></span>
          </td>
          <td>
            <span th:text="${assignmentGroupNameMap.get(#strings.toString(assignment.assignmentGroupId))}"></span>
          </td>
          <td class="d-none">
            <div th:attr="data-spinner=${'spinner' + assignment.assignmentGroupId}" class="spinner-border student-spinner" role="status">
              <span class="sr-only" th:text="#{instructor_spinner_loading}">Loading</span>
            </div>
            <span th:attr="data-id=${'grade' + assignment.assignmentGroupId}"></span>
          </td>
        </tr>
        <tr>
          <td th:text="#{shared_total}">TOTAL</td>
          <td>
            <div id="spinnerFinal" class="spinner-border student-spinner" role="status">
              <span class="sr-only" th:text="#{instructor_spinner_loading}">Loading</span>
            </div>
            <span id="finalGrade"></span>
          </td>
          <td th:text="#{shared_total}">TOTALCATEGORY</td>
          <td class="d-none"></td>
        </tr>
        </tbody>
      </table>
    </div>

    <script th:inline="javascript">
      $(document).ready( function () {
        /*<![CDATA[*/
        var assignmentGroupList = /*[[${assignmentGroupList}]]*/;
        var courseId = /*[[${selectedIntegerCourse}]]*/;
        var userId = /*[[${selectedIntegerStudent}]]*/;
        var messages = {
          student_grade_not_available: /*[[#{student_grade_not_available}]]*/,
          instructor_header_omit_final_grade: /*[[#{instructor_header_omit_final_grade}]]*/,
          instructor_header_muted_assignment: /*[[#{instructor_header_muted_assignment}]]*/,
          instructor_ignore_highest_grade: /*[[#{instructor_ignore_highest_grade}]]*/,
          instructor_ignore_lowest_grade: /*[[#{instructor_ignore_lowest_grade}]]*/,
          shared_ignored_assignments_message: /*[[#{shared_ignored_assignments_message}]]*/
        };

        var search = /*[[#{student_datatables_search}]]*/ 'search';
        var lengthMenu = /*[[#{student_datatables_lengthMenu}]]*/ 'lengthMenu';
        var zeroRecords = /*[[#{student_datatables_zeroRecords}]]*/ 'zeroRecords';
        var info = /*[[#{datatables_info}]]*/ 'info';
        var infoEmpty = /*[[#{student_datatables_infoEmpty}]]*/ 'infoEmpty';
        var infoFiltered = /*[[#{student_datatables_infoFiltered}]]*/ 'infoFiltered';
        var emptyTable = /*[[#{datatables_emptyTable}]]*/ 'emptyTable';
        var next = /*[[#{datatables_next}]]*/ 'next';
        var previous = /*[[#{datatables_previous}]]*/ 'previous';
        var sortAscending = /*[[#{datatables_sortAscending}]]*/ 'sortAscending';
        var sortDescending = /*[[#{datatables_sortDescending}]]*/ 'sortDescending';
        var groupColumn = 2;
        var table = $('#assignmentTable').DataTable({
          'columnDefs': [{ 'visible': false, 'targets': groupColumn }],
          'order': [ [ groupColumn, 'asc' ] ],
          'drawCallback': function ( settings ) {
            var api = this.api();
            var rows = api.rows( {page:'current'} ).nodes();
            var last=null;

            api.column(groupColumn, {page:'current'} ).data().each( function ( group, i ) {
              if ( last !== group ) {
                $(rows).eq( i ).before(function() {
                  return '<tr class="group"><td>'+group+'</td><td>' + api.column(groupColumn+1, {page:'current'} ).data()[i] + '</td></tr>';
                });
                last = group;
              }
            });
          },
          'pageLength': 50,
          'language': {
            'search': search,
            'lengthMenu': lengthMenu,
            'zeroRecords': zeroRecords,
            'info': info,
            'infoEmpty': infoEmpty,
            'infoFiltered': infoFiltered,
            'emptyTable': emptyTable,
            'paginate': {
              'next': next,
              'previous': previous,
            },
            'aria': {
              'sortAscending': sortAscending,
              'sortDescending': sortDescending,
            }
          }
        });
        $('#assignmentTable').on('draw.dt', function () {
          $(assignmentGroupList).each(function(idx, obj) {
            var groupId = obj.id;
            calcGroupGrade(groupId, userId, 0, 0);
          });
          calcFinalGrade(userId, false);
        });

        /**** GROUP AND FINAL GRADES ****/
        function calcGroupGrade(groupId, userId) {
          $.ajax({
            url: [[@{/getStudentGroupGrade}]] + '?groupId=' + groupId + '&studentId=' + userId + '&courseId=' + courseId,
            type: 'POST',
            contentType: 'text/plain; charset=utf-8'

          }).done(function(response) {
            if (response.grade === '-') response.grade = messages.student_grade_not_available;
            $('[data-spinner="spinner' + groupId + '"]').each(function() {
              $(this).addClass('d-none');
            });
            $('[data-id="grade' + groupId + '"]').each(function() {
              createQtip(this, response);
            });
          });
        }

        function calcFinalGrade(userId, isCurrentGrade) {
          $.ajax({
            url: [[@{/getStudentFinalGrade}]] + '?studentId=' + userId + '&courseId=' + courseId + '&isCurrentGrade=' + isCurrentGrade,
            type: 'POST',
            contentType: 'text/plain; charset=utf-8'

          }).done(function(response) {
            if (response.grade === '-') response.grade = messages.student_grade_not_available;
            $('#spinnerFinal').addClass('d-none');
            createQtip($('#finalGrade')[0], response);
          });
        }

        function createQtip(elem, response) {
          var html = '<div>';
          html += response.grade;
          var createQtip = false;
          if ((response.omittedAssignments && response.omittedAssignments.length > 0) ||
              (response.mutedAssignments && response.mutedAssignments.length > 0) ||
              (response.dropHighestAssignments && response.dropHighestAssignments.length > 0) ||
              (response.dropLowestAssignments && response.dropLowestAssignments.length > 0)) {
            html += '<span class="qtip-info fa fa-info-circle ml-1" aria-hidden="true"></span>';
            html += '<div class="qtip-content d-none">';
            html +=   '<p class="mb-2">' + messages.shared_ignored_assignments_message + '</p>';
            html +=   '<table class="table table-sm mb-0"><tbody>';
            $(response.omittedAssignments).each(function(idx, obj) {
              html +=   '<tr title="' + messages.instructor_header_omit_final_grade + '"><td>' + obj.name + '</td><td class="w-content"><span class="qtip-info-icon fas fa-exclamation-circle" aria-hidden="true"></span></td></tr>';
            });
            $(response.mutedAssignments).each(function(idx, obj) {
              html +=   '<tr title="' + messages.instructor_header_muted_assignment + '"><td>' + obj.name + '</td><td class="w-content"><span class="qtip-info-icon fas fa-bell-slash" aria-hidden="true"></span></td></tr>';
            });
            $(response.dropHighestAssignments).each(function(idx, obj) {
              html +=   '<tr title="' + messages.instructor_ignore_highest_grade + '"><td>' + obj.name + '</td><td class="w-content"><span class="qtip-info-icon fas fa-arrow-up" aria-hidden="true"></span></td></tr>';
            });
            $(response.dropLowestAssignments).each(function(idx, obj) {
              html +=   '<tr title="' + messages.instructor_ignore_lowest_grade + '"><td>' + obj.name + '</td><td class="w-content"><span class="qtip-info-icon fas fa-arrow-down" aria-hidden="true"></span></td></tr>';
            });
            html +=   '</tbody></table';
            html += '</div>';
            createQtip = true;
          }
          html += '</div>';
          $(elem).html(html);

          if (createQtip){
            $(elem).find('.qtip-info').addClass('cursor-pointer');
            $(elem).find('.qtip-info').qtip({
              position: {
                my : 'top center',
                at: 'bottom center',
                method: 'none'
              },
              show: {
                event: 'click',
                delay: 0,
              },
              style: {
                classes: 'qtip-content-info qtip-shadow qtip-light'
              },
              hide: {
                event: 'click',
              },
              content: $(elem).find('.qtip-content').clone().removeClass('d-none').html(),
              events: {
                show: function(event, api) {
                  $('.qtip:visible').qtip('hide');
                }
              }
            });
          }
        }

        $(assignmentGroupList).each(function(idx, obj) {
          var groupId = obj.id;
          calcGroupGrade(groupId, userId, 0, 0);
        });
        if (userId != null) {
          calcFinalGrade(userId, false);
        }
        /**** END OF GROUP AND FINAL GRADES ****/
        /*]]>*/
      });
    </script>
  </body>
</html>
