<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="#{admin_events_title}">Events</title>
  <div th:insert="fragments/head :: head"></div>
</head>

<body>
  <div class="admin-container">
    <!-- Topbar -->
    <div th:insert="fragments/topbar :: topbar (admin_events)"></div>
    <!-- End of Topbar -->

    <h2 class="canvas-h2" th:text="#{admin_sidebar_events}">Events</h2>

    <table id="eventTable" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th th:text="#{admin_events_header_id}">Event id</th>
          <th th:text="#{admin_events_header_type}">Event Name</th>
          <th th:text="#{admin_events_header_user}">Event User</th>
          <th th:text="#{admin_events_header_course}">Event Course</th>
          <th th:text="#{admin_events_header_date}">Event Date</th>
          <th th:text="#{admin_events_header_details}">Event details</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="event: ${eventList}">
          <td th:text="${event.eventId}">an event id</td>
          <td th:text="${event.eventType}">an event type</td>
          <td th:text="${event.eventUser}">an event user</td>
          <td th:text="${event.eventCourse}">an event course</td>
          <td th:text="${event.eventDate}">an event date</td>
          <td th:text="${event.eventDetails}">an event details</td>
        </tr>
      </tbody>
    </table>

  </div><!-- End of container -->

  <script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready( function () {
      var search = /*[[#{admin_events_datatables_search}]]*/ 'search';
      var lengthMenu = /*[[#{admin_events_datatables_lengthMenu}]]*/ 'lengthMenu';
      var zeroRecords = /*[[#{admin_events_datatables_zeroRecords}]]*/ 'zeroRecords';
      var info = /*[[#{datatables_info}]]*/ 'info';
      var infoEmpty = /*[[#{admin_events_datatables_infoEmpty}]]*/ 'infoEmpty';
      var infoFiltered = /*[[#{event_atatables_infoFiltered}]]*/ 'infoFiltered';
      var emptyTable = /*[[#{datatables_emptyTable}]]*/ 'emptyTable';
      var next = /*[[#{datatables_next}]]*/ 'next';
      var previous = /*[[#{datatables_previous}]]*/ 'previous';
      var sortAscending = /*[[#{datatables_sortAscending}]]*/ 'sortAscending';
      var sortDescending = /*[[#{datatables_sortDescending}]]*/ 'sortDescending';
      $("#eventTable").DataTable({
        "pageLength": 50,
        "language": {
          "search": search,
          "lengthMenu": lengthMenu,
          "zeroRecords": zeroRecords,
          "info": info,
          "infoEmpty": infoEmpty,
          "infoFiltered": infoFiltered,
          "emptyTable": emptyTable,
          "paginate": {
            "next": next,
            "previous": previous,
          },
          "aria": {
            "sortAscending": sortAscending,
            "sortDescending": sortDescending,
          }
        }
      });
    });
    /*]]>*/
  </script>
</body>

</html>
