<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title th:text="${admin_dashboard_title}">Dashboard</title>
  <div th:insert="fragments/head :: head"></div>
</head>

<body>
  <div class="admin-container">
    <!-- Topbar -->
    <div th:insert="fragments/topbar :: topbar"></div>
    <!-- End of Topbar -->

    <h2 class="canvas-h2" th:text="#{admin_sidebar_dashboard}">Dashboard</h2>

    <!-- Content Row -->
    <div class="row">

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1" th:text="#{admin_dashboard_total_events}">Total events</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${eventCount}">75268</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-exclamation-circle fa-2x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1" th:text="#{admin_dashboard_total_courses}">Total courses</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${courseCount}">52</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-book-open fa-2x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Earnings (Monthly) Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-success text-uppercase mb-1" th:text="#{admin_dashboard_total_grades}">Total Grades</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${gradeCount}">354646</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-pen-square fa-2x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Pending Requests Card Example -->
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1" th:text="#{admin_dashboard_total_users}">Total users graded</div>
                <div class="h5 mb-0 font-weight-bold text-gray-800" th:text="${gradedUserCount}">45</div>
              </div>
              <div class="col-auto">
                <i class="fas fa-users fa-2x"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

 </div><!-- End of Container -->
</body>

</html>
