<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <title th:text="#{banner_view_title}">Send Grades to Banner</title>
  <div th:insert="fragments/head :: head"></div>
<body>

<div class="alert alert-danger" th:if="${!userIsCourseMainInstructor}" th:text="#{banner_permission_error}">
  You are not the main instructor of this course, you are not allowed to send grades to banner.
</div>

<div class="alert alert-warning" th:if="${userIsCourseMainInstructor && bannerGrades.isEmpty()}" th:text="#{banner_no_grades}">
  The gradebook cannot load the grades from banner.
</div>

<div class="send-to-banner-container">
  <div class="mt-3 mb-3">
    <a class="canvas-btn" href="/" th:href="@{/}" th:title="#{instructor_back_gradebook}">
      <span class="fas fa-arrow-left"></span>
      <span class="d-none d-sm-inline-block" th:text="#{instructor_back_gradebook}">Back to Gradebook</span>
    </a>
  </div>
  <div>
    <div class="alert alert-info">
      <p th:text="#{banner_info}"></p>
      <p th:text="#{banner_info_note}"></p>
    </div>
    <div class="d-flex flex-row justify-content-end mb-3">
      <button class="canvas-btn" id="showBannerEventErrorHistory" data-toggle="modal" data-target="#bannerErrorHistoryModal">
        <span class="fas fa-exclamation-circle"></span>
        <span class="d-none d-sm-inline-block" th:text="#{banner_button_event_error_history}">Event Error History</span>
      </button>
      &nbsp;
      <button class="canvas-btn" id="showBannerEventHistory" data-toggle="modal" data-target="#bannerHistoryModal">
        <span class="fas fa-history"></span>
        <span class="d-none d-sm-inline-block" th:text="#{banner_button_event_history}">Event History</span>
      </button>
      &nbsp;
      <button class="canvas-btn" id="sendGradesToBanner" disabled="disabled" data-toggle="modal" data-target="#bannerConfirmationModal">
        <span class="fas fa-sync"></span>
        <span class="d-none d-sm-inline-block" th:text="#{banner_button_send_grades_banner}">Send Grades to Banner</span>
      </button>
    </div>
    <div class="modal fade" id="bannerErrorHistoryModal" tabindex="-1" role="dialog" aria-labelledby="bannerErrorHistoryModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="bannerErrorHistoryModalLabel" th:text="#{banner_button_event_error_history}"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div th:if="${bannerErrorEventList.isEmpty()}" class="alert alert-info" th:text="#{banner_no_error_events}">No events to display</div>
            <table th:if="${!bannerErrorEventList.isEmpty()}" id="bannerErrorEventTable" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th th:text="#{banner_modal_header_date}">Date</th>
                  <th th:text="#{banner_modal_header_instructor}">Instructor</th>
                  <th th:text="#{banner_modal_header_student}">Student</th>
                  <th th:text="#{banner_modal_header_error_detail}">Error Detail</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="event : ${bannerErrorEventList}">
                  <td class="tableDate" th:text="${event.eventDate}"></td>
                  <td class="eventDetail sisUserId" th:text="${event.eventDetails}"></td>
                  <td class="eventDetail userId" th:text="${event.eventDetails}"></td>
                  <td class="eventDetail error" th:text="${event.eventDetails}"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button id="modal-error-button-close" type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{banner_modal_close}">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="bannerHistoryModal" tabindex="-1" role="dialog" aria-labelledby="bannerHistoryModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="bannerHistoryModalLabel" th:text="#{banner_button_event_history}"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div th:if="${bannerEventList.isEmpty()}" class="alert alert-info" th:text="#{banner_no_events}">No events to display</div>
            <table th:if="${!bannerEventList.isEmpty()}" id="bannerEventTable" class="table table-striped table-bordered table-hover">
              <thead>
                <tr>
                  <th th:text="#{banner_modal_header_date}">Date</th>
                  <th th:text="#{banner_modal_header_instructor}">Instructor</th>
                  <th th:text="#{banner_modal_header_student}">Student</th>
                  <th th:text="#{banner_modal_header_grade}">Grade</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="event : ${bannerEventList}">
                  <td class="tableDate" th:text="${event.eventDate}"></td>
                  <td class="eventDetail sisUserId" th:text="${event.eventDetails}"></td>
                  <td class="eventDetail userId" th:text="${event.eventDetails}"></td>
                  <td class="eventDetail grade" th:text="${event.eventDetails}"></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button id="modal-button-close" type="button" class="btn btn-primary" data-dismiss="modal" th:text="#{banner_modal_close}">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="bannerConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="bannerConfirmationModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="bannerConfirmationModalLabel" th:text="#{banner_view_title}"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" th:text="#{banner_modal_text}"></div>
          <div class="modal-footer">
            <button id="modal-button-confirm" type="button" class="btn btn-primary" th:text="#{banner_modal_confirm}">Save changes</button>
            <button id="modal-button-cancel" type="button" class="btn btn-secondary" data-dismiss="modal" th:text="#{banner_modal_cancel}">Close</button>
          </div>
        </div>
      </div>
    </div>
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th rowspan="2" class="align-middle" th:text="#{banner_header_rut}">RUT</th>
          <th rowspan="2" class="align-middle" th:text="#{banner_header_student_name}">Student Name</th>
          <th rowspan="2" class="align-middle" th:text="#{banner_header_section}">Section</th>
          <th rowspan="1" colspan="2" class="text-center" th:text="#{banner_header_grades}">Grades</th>
        </tr>
        <tr>
          <th rowspan="1" th:text="#{banner_header_canvas}">Canvas</th>
          <th rowspan="1" th:text="#{banner_header_banner}">Banner</th>
        </tr>
      </thead>
      <tbody id="table-body">
        <tr th:each="user : ${courseUsers}" th:id="${'row' + user.id}" th:if="${userSections.get(#strings.toString(user.id)) != 'null'}">
          <td><span>
            <th:block th:if="${user.sisUserId != ''}" th:text="${user.sisUserId}"></th:block>
            <th:block th:unless="${user.sisUserId != ''}" th:text="${user.id}"></th:block>
          </span></td>
          <td><span th:text="${user.sortableName}"></span></td>
          <td><span th:text="${userSections.get(#strings.toString(user.id))}"></span></td>
          <td>
            <div th:id="${'spinnerCanvas' + user.id}" class="spinner-total spinner-border student-spinner" role="status">
              <span class="sr-only" th:text="#{instructor_spinner_loading}">Loading</span>
            </div>
            <span th:id="${'finalGrade' + user.id}"></span>
          </td>
          <td><span th:id="${'bannerGrade' + user.id}" th:text="${bannerGrades.get(user.sisUserId)}"></span></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script th:inline="javascript">
  /*<![CDATA[*/
  $(document).ready(function() {
      var bannerGrades = /*[[${bannerGrades}]]*/;
      var courseUsers = /*[[${courseUsers}]]*/;
      var sectionId = /*[[${sectionId}]]*/;

      function calcFinalGrade(user, isCurrentGrade) {
        return new Promise((resolve, reject) => {
          $.ajax({
            url: [[@{/getStudentFinalGrade}]] + '?studentId=' + user.id + '&isCurrentGrade=' + isCurrentGrade,
            type: 'POST',
            contentType: 'text/plain; charset=utf-8'

          }).done(function(response) {
            $('#spinnerCanvas' + user.id).addClass('d-none');
            $('#finalGrade' + user.id).text(response.grade);
            resolve(response.grade);
          });
        });
      }

      var ajaxRequests = [];
      for (var i = 0; i < courseUsers.length; i++) {
        ajaxRequests.push(calcFinalGrade(courseUsers[i], false));
      }
      var sendGradesToBannerData = [];
      Promise.all(ajaxRequests).then((arr) => {
        var newArr = [];
        while(arr.length) newArr.push(arr.splice(0, 1));
        for (var i = 0; i < courseUsers.length; i++) {
          var canvasGrade = newArr[i][0];
          var bannerGrade = bannerGrades[courseUsers[i].sisUserId];

          var studentGrade = {};
          studentGrade['userId'] = courseUsers[i].sisUserId;
          studentGrade['grade'] = canvasGrade;
          if (bannerGrade !== undefined) {
            sendGradesToBannerData.push(studentGrade);
          }

          var className = 'error';
          if (canvasGrade == bannerGrade) className = 'success';
          $('#row' + courseUsers[i].id).addClass(className);
        }
        $('#sendGradesToBanner').prop('disabled', false);
      });

      var modalConfirm = function(callback) {
        $("#modal-button-confirm").on("click", function() {
          callback(true);
          $("#bannerConfirmationModal").modal('hide');
        });

        $("#modal-button-cancel").on("click", function(){
          callback(false);
          $("#bannerConfirmationModal").modal('hide');
        });

      };

      modalConfirm( function(confirm) {
        if(confirm) {
          $('#sendGradesToBanner').prop('disabled', true);
          $('#sendGradesToBanner').find('.fas').addClass('fa-spin');
          $.ajax({
            url: /*[[@{/sendGradesToBanner}]]*/,
            data: JSON.stringify(sendGradesToBannerData),
            type: 'POST',
            contentType: 'application/json; charset=utf-8'

          }).done( function(success) {
            window.location = [[@{/send_to_banner}]] + "?sectionId=" + sectionId;
          });
        }
      });

      // Provide pretty dates
      $('.tableDate').each(function () {
        var dateContent = $(this).html();
        if (dateContent !== '') {
          var prettyDate = moment(dateContent).format('lll');
          $(this).html(prettyDate);
        }
      });

      $('.eventDetail').each(function () {
        var cellContent = $(this).html();
        var eventDetailObject = JSON.parse(cellContent);
        var tdClass = $(this).attr('class');
        if (tdClass.includes('sisUserId')) {
          $(this).html(eventDetailObject.sisUserId);
        } else if (tdClass.includes('userId')) {
          $(this).html(eventDetailObject.userId);
        } else if (tdClass.includes('grade')) {
          $(this).html(eventDetailObject.grade);
        } else if (tdClass.includes('error')) {
          $(this).html(eventDetailObject.errorCode);
        }
      });

      var search = /*[[#{instructor_datatables_records_search}]]*/ 'search';
      var lengthMenu = /*[[#{instructor_datatables_records_lengthMenu}]]*/ 'lengthMenu';
      var zeroRecords = /*[[#{instructor_datatables_records_zeroRecords}]]*/ 'zeroRecords';
      var info = /*[[#{instructor_datatables_info}]]*/ 'info';
      var infoEmpty = /*[[#{instructor_datatables_records_infoEmpty}]]*/ 'infoEmpty';
      var infoFiltered = /*[[#{instructor_datatables_records_infoFiltered}]]*/ 'infoFiltered';
      var emptyTable = /*[[#{instructor_datatables_emptyTable}]]*/ 'emptyTable';
      var next = /*[[#{instructor_datatables_next}]]*/ 'next';
      var previous = /*[[#{instructor_datatables_previous}]]*/ 'previous';
      var sortAscending = /*[[#{instructor_datatables_sortAscending}]]*/ 'sortAscending';
      var sortDescending = /*[[#{instructor_datatables_sortDescending}]]*/ 'sortDescending';

      $('#bannerEventTable, #bannerErrorEventTable').DataTable({
        language: {
          'search': search,
          'lengthMenu': lengthMenu,
          'zeroRecords': zeroRecords,
          'info': info,
          'infoEmpty': infoEmpty,
          'infoFiltered': infoFiltered,
          'emptyTable': emptyTable,
          'paginate': {
            'next': next,
            'previous': previous,
           },
          'aria': {
            'sortAscending': sortAscending,
            'sortDescending': sortDescending,
           }
        }
      });

  });
  /*]]>*/
</script>
</body>
</html>
